<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title> Attendance Management System </title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <header style="background-color: #333; color: white; text-align: center; padding: 20px;">
        <h1>Welcome to the Attendance Management System</h1>
    </header>

    <main style="padding: 20px;">
        <section>
            <h2>Navigate to:</h2>
            <ul style="list-style-type: none; padding: 0;">
                <li style="margin: 10px 0;">
                    <a href="/branch/list" style="text-decoration: none; color: rgb(0, 0, 160); font-size: 18px;">Course List</a>
                </li>
                <li style="margin: 10px 0;">
                    <a href="/student/list" style="text-decoration: none; color: rgb(0, 0, 160); font-size: 18px;">Student List</a>
                </li>
				<li style="margin: 10px 0;">
				    <a href="/attendance/mark" style="text-decoration: none; color: rgb(0, 0, 160); font-size: 18px;">Mark Attendance</a>
				</li>
            </ul>
        </section>
    </main>

    <footer style="background-color: #333; color: white; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%;">
        <p style="margin: 0;">&copy; 2024 Attendance System</p>
    </footer>
</body>
</html>
